@import "./_variables.scss";

h1 {
  font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

.my-btn {
	border-radius: 50px;
	padding:1.2rem 2.2rem;
}

.my-btn-yellow {
	color: white;
	border: 1px solid $secondaryColor;
	background-color: $secondaryColor;
}

.my-btn-primary {
	color: white;
	border: 1px solid $primaryColor;
	background-color: $primaryColor;
}

.my-btn-white {
	color: $primaryColor;
	border: 1px solid white;
	background-color: white;
}