@import "./_variables.scss";

h1 {
  font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

.my-btn {
	border-radius: 50px;
	padding:1.35rem 2.8rem;
}

.my-btn-yellow {
	color: white;
	border: 1px solid $secondaryColor;
	background-color: $secondaryColor;
}

.my-btn-red {
	color: white;
	border: 1px solid #dd3333;
	background-color: #dd3333;
}

.my-btn-primary {
	color: white;
	box-shadow: 1px 1px 10px rgba(21, 21, 21, 0.09);
	border: 1px solid $primaryColor;
	background-color: $primaryColor;
}

.my-btn-white {
	color: $primaryColor;
	border: 1px solid white;
	background-color: white;
}

.my-btn-outline {
  color: white;
	border: 1px solid white;
	background-color: transparent;
}

.my-fs-xxs {
	font-size: 0.7rem;
}

.my-slider-fs {
	font-size: 2.2rem;
}

.my-visible {
	visibility: visible;
	opacity: 1;
}

.my-invisible {
	visibility: hidden;
	opacity: 0;
}

.text-lighter {
	color: #8b8b8a;
}