$primaryColor: #e56767;
$primaryColorLayer: #e56767ee;
$secondaryColor: #E9D758;
$sectionHeadingColor: #3D404F;

@mixin custom-list($textColor) {
	margin: 0;
	padding: 0;
	li {
		color: $textColor;
		list-style-type: none;
		a {
			color: $textColor;
			text-decoration: none;
		}
	}
}

@mixin flex($justify, $align, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}


@mixin position($position, $right, $bottom, $left) {
	position: $position;
	right: $right;
	bottom: $bottom;
	left: $left;
}