$primaryColor: #e56767;
$primaryColorLayer: #e56767ee;
$secondaryColor: #E9D758;
$sectionHeadingColor: #3D404F;
$cardTextColor: #74777B;
$greyTextColor: #8b8b8a;

@mixin custom-list($textColor) {
	margin: 0;
	padding: 0;
	li {
		color: $textColor;
		list-style-type: none;
		a {
			color: $textColor;
			text-decoration: none;
		}
	}
}

@mixin flex($justify, $align, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}


@mixin position($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin eventCard{
	width: 90%;
  position: relative;
  border-radius: 10px;
  padding: 2rem 0.5rem;
  color: $cardTextColor;
  background-color: white;
  h3 {
    color: $sectionHeadingColor;
  }
  button {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    transform: translateX(-50%);
    @include position(absolute, 90%, 0, inherit, 50%);
  }
}

@mixin coursesCard{
  border-radius: 5px;
  position: relative;
  padding: 1.5rem;
  color: #74777B;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.11);
  color: $cardTextColor;
  h5 {
    color: $sectionHeadingColor;
  }
  button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transform: translateX(-50%);
    @include position(absolute, 90%, 0, inherit, 50%);
  }
}

@mixin myInput {
  border: 1px solid white;
  padding: 1.5rem;
  color: $greyTextColor;
  border-radius: 50px;
}

@mixin myInputIcon {
  color: white;
  padding: 1.75rem;
  border-radius: 50px;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  transform: translateY(-50%);
  @include position(absolute, 50%, inherit, inherit, 81%);
}