$primaryColor: #e56767;
$primaryColorLayer: #e56767ee;
$secondaryColor: #E9D758;
$sectionHeadingColor: #3D404F;
$cardTextColor: #74777B;

@mixin custom-list($textColor) {
	margin: 0;
	padding: 0;
	li {
		color: $textColor;
		list-style-type: none;
		a {
			color: $textColor;
			text-decoration: none;
		}
	}
}

@mixin flex($justify, $align, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}


@mixin position($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin eventCard{
	width: 90%;
  border-radius: 10px;
  padding: 2rem 0.5rem;
  color: $cardTextColor;
  background-color: white;
  h3 {
    color: $sectionHeadingColor;
  }
  button {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    transform: translateX(-50%);
    @include position(absolute, 90%, 0, inherit, 50%);
  }
}